@page "/Squad"
@inject PlayerListModel PlayerlistModel
@inject IConfiguration squadconfig
<h3>Squad</h3>

@*<EditForm Model="@newTask" OnValidSubmit="AddTask">
        <button type="submit">Add Task</button>
    </EditForm>*@

<ul>
    @foreach (var player in PlayerlistModel.playerList)
    {
        <li>@player</li>
    }
</ul>

@code {
        //private List<PlayerListModel> playerList = new List<PlayerListModel>();
        //private PlayerListModel newTask = new PlayerListModel();

    protected override void OnInitialized()
    {
        PlayerlistModel.OnChange += StateHasChanged;
        PlayerlistModel.loadRconAsync();
    }

    public void Dispose()
    {
        PlayerlistModel.OnChange -= StateHasChanged;
    }


}
